/*------------------------- Global -------------------------*/
:root {
  --font: 'NanumSquareRound', '돋움', Dotum, '굴림', Gulim, AppleGothic, sans-serif;
  --color-main: #807ace;
  --color-font: #333;
  --color-nav-after: #edd56e;
  --trans: all 450ms ease-in-out;
}

/* font */
body {
  font-family: var(--font);
  color: var(--color-font);
}

button,
input,
textarea {
  font-family: var(--font);
  font-size: 16px;
}

button {
  cursor: pointer;
}

.container-width {
  max-width: 1280px;
  margin: 0 auto;
}

.container-padding {
  padding: 100px 0;
}

.container-both {
  padding: 0 15px;
}

/*------------------------- Header -------------------------*/
header {
  border-top: 6px solid var(--color-main);
}

header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-logo {
  padding: 20px 0 0;
}

.top-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 72px;
}

.top-nav {
  padding: 10px 0;
}

.top-nav .top-nav-ul {
  display: flex;
}

.top-nav-lists {
  position: relative;
  padding: 0 10px 0 17px;

  white-space: nowrap;
}

.top-nav-lists button {
  height: 60px;

  font-size: 20px;
  font-weight: 600;
  line-height: 3;
}

.top-nav-lists + .top-nav-lists button::after {
  content: '';

  position: absolute;
  left: 0;

  width: 8px;
  height: 8px;
  margin: 26px 0;
  border-radius: 50%;
  background-color: var(--color-nav-after);
}

.top-nav-lists .submenu {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;

  display: none;
  line-height: 1.15;

  z-index: 1;
}

.top-nav-lists .submenu ul {
  width: fit-content;
  padding: 16px;
  border: solid 2px var(--color-main);
  border-radius: 30px 0 30px 30px;
  background: #fff;
}

.top-nav-lists .submenu-item {
  padding: 8px 10px;
  color: #000;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
}

.top-nav-lists .submenu-item a:hover {
  color: #0877a1;
}

.top-nav-lists:hover .submenu {
  display: block;
}

.mobile-nav-container {
  display: none;
}

/*---------------------- Side-nav -------------------------*/
.side-nav {
  position: fixed;
  right: 0;
  bottom: 150px;
  z-index: 9999;
}

.side-nav ul {
  width: 150px;
  padding: 10px;
  border-radius: 25px 0 0 25px;
  background-color: var(--color-main);
  text-align: center;
}

.side-nav-list {
  padding: 12px 10px;

  display: block;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  word-break: keep-all;
}

.side-nav-list a:hover {
  opacity: 50%;
}

.side-nav-list img {
  display: block;
  margin: 0 auto 6px;
  width: 30px;
  height: 30px;
}

.side-nav-list + .side-nav-list {
  border-top: 0.5px solid #fff;
}

/*------------------------- Main -------------------------*/
/* image-intro */
.image-intro {
  max-width: 1760px;
  height: 700px;
  margin: 0 auto;
}

.image-intro a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  border-radius: 140px 140px 0 0;

  color: #fff;
  font-size: 62px;
  line-height: 1.2;
  font-weight: 900;
  text-align: center;

  background: url('/assets/mjff_intro.jpg') center;
}

/* Program */
.program h2 {
  position: relative;

  color: var(--color-main);
  font-size: 50px;
  line-height: 1.2;
  font-weight: 900;
}

.program h2::after {
  content: '';

  position: absolute;
  bottom: 28px;
  right: 0;

  width: 67%;
  height: 8px;
  background-color: var(--color-main);
}

.program h3 {
  margin-top: 10px;

  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
}

.program-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  padding-top: 50px;
}

.program-container .item {
  position: relative;
  border-radius: 20px;
  background-color: #000;

  overflow: hidden;
}

.program-container .item:first-child {
  width: 58%;
}

.program-container .item:nth-child(2) {
  width: 36.8%;
}

.program-container .item:nth-child(3),
.program-container .item:nth-child(4),
.program-container .item:nth-child(5) {
  width: 30.8%;
}

.program-container .item img {
  width: 100%;
  height: 100%;
  opacity: 65%;
  border-radius: 20px;
  transition: var(--trans);
}

.program-container .item img:hover {
  transform: scale(1.05);
}

.program-container .item .text {
  position: absolute;
  bottom: 32px;
  left: 34px;

  color: #fff;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.4;
}

.program-container .item .text strong {
  display: block;
  margin-bottom: 10px;
  color: #fff8c8;
  font-size: 18px;
}

.program-container .item .text strong::before {
  content: '';

  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px 8px 0 0;
  border-radius: 50%;
  background-color: #fff8c8;
}

.program-container .item:first-child .text {
  font-size: 34px;
}

/* Video */

.video h2 {
  position: relative;
  color: var(--color-main);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
}

.video h2::after {
  content: '';

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  width: 68%;
  height: 7px;
  background: var(--color-main);
}

.video-container {
  display: flex;
  padding-top: 46px;
}

.video-container .item {
  width: 25%;
  padding: 15px;

  line-height: 1.6;
}

.video-container .item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container .item img {
  order: 1;
  width: 100%;
  border-radius: 20px;
  transition: var(--trans);
}

.video-container .item img:hover {
  transform: scale(1.05);
}

.video-container .item a > span {
  order: 2;

  margin-top: 30px;

  font-size: 16px;
  font-weight: 700;
  color: var(--color-main);
}

.video-container .item span + p {
  order: 3;

  width: 100%;
  margin: 10px auto 0;

  color: var(--color-font);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*------------------------- Article ------------------------*/
.post {
  padding: 10px 0 20px;
  background: #eeeeee;
  border-bottom: 1px solid #e0e0e0;
}

/* Search */
.post-search {
  margin: 10px 0 40px;
  padding: 0 10px;
  text-align: center;
}

.post-search-box {
  position: relative;
  width: 200px;
  height: 40px;
  margin: 0 auto;
}

.post-search-box::after {
  content: url('/assets/post_icon.svg');
  position: absolute;
  top: 10px;
  right: 9px;

  width: 20px;
  cursor: pointer;
}

.post-search-box input {
  width: 200px;
  height: 40px;
  padding: 0 35px 0 15px;

  border: 2px solid #cdcdcd;
  border-radius: 5px;
  background-color: #f0f0f0;

  color: var(--color-font);
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;

  cursor: text;
}

.post-search input::placeholder {
  color: #cdcdcd;
}

.post-search-box input:hover {
  border-color: #000;
}

/* Loadmore */
.post-showmore {
  text-align: center;
}

.post-showmore button {
  margin: 20px 12px 0;
  padding: 10px 40px;
  border-radius: 5px;
  background-color: var(--color-font);

  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

.post-showmore button:hover {
  opacity: 20%;
}

/*------------------------- Footer -------------------------*/

footer {
  padding: 36px 0;
}

footer .container-both {
  display: flex;
  position: relative;
}

footer .logo {
  padding-left: 15px;
}

footer .mjffinfo {
  padding-left: 30px;
}

/* Policy */

footer .mjffinfo-policy {
  display: flex;
}

footer .mjffinfo-policy li {
  padding: 10px 20px;
}

footer .mjffinfo-policy li:hover {
  opacity: 50%;
}

footer .mjffinfo-policy li:first-child {
  position: relative;
  padding-left: 0;
}

footer .mjffinfo-policy li a {
  color: #777;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
}

footer .mjffinfo-policy li:first-child a {
  color: #5f58bf;
}

footer .mjffinfo-policy li:first-child a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translatey(-50%);

  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #aaa;
  cursor: none;
}

/* SNS */

footer .mjffinfo-sns {
  display: flex;
  flex-wrap: wrap;
}

footer .mjffinfo-sns li a img {
  width: 62px;
  height: 43px;
  padding: 10px 20px;
}

footer .mjffinfo-sns li:first-child a img {
  width: 43px;
  padding-left: 0;
}

footer .mjffinfo-sns li a img:hover {
  opacity: 70%;
}

/* Contact */
footer .mjffinfo-contact {
  padding-top: 10px;

  color: #666;
  font-size: 15px;
  line-height: 2;
}

footer .mjffinfo-contact b {
  font-weight: 700;
}

footer .mjffinfo-contact li:last-child span + span {
  padding-left: 15px;
}

/* Copyright */
footer .mjffinfo-copyright {
  padding-top: 30px;

  color: #aaa;
  font-size: 13px;
}

footer .mjffinfo-copyright span {
  font-family: 'Lato', sans-serif;
}

footer .mjffinfo-copyright a:hover {
  opacity: 50%;
}

/* link */
footer .mjffinfo-link a {
  position: absolute;
  top: 0;
  right: 0;

  padding: 12px 24px;
  border-radius: 50px;
  background-color: var(--color-main);

  color: #fff;
  font-size: 16px;
  line-height: 1.4;
}

@media screen and (max-width: 1024px) {
  .container-width {
    max-width: 1024px;
  }

  .top-logo {
    padding: 0;
  }

  .top-logo a img {
    width: 140px;
    height: 34px;
  }

  .top-nav {
    display: none;
  }

  header {
    display: flex;
    position: relative;
  }

  .mobile-nav-container {
    display: block;
    padding-top: 20px;
    color: #222222;
  }

  .mobile-nav-container button:hover {
    opacity: 50%;
  }

  .mobile-nav-container > button {
    width: 26px;
  }

  .mobile-nav-container nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;

    width: 55%;
    height: 100vh;
    background-color: #fff;
    z-index: 1;

    overflow: auto;
  }

  .mobile-nav-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 25px;
    border-bottom: 1px solid #dfdfdf;
  }

  .mobile-nav-top button:first-child {
    padding: 8px 16px;
    border: 1px solid #009244;
    border-radius: 50px;
    color: #009244;
    font-size: 14px;
  }

  .mobile-nav-top button:last-child {
    font-size: 20px;
  }

  .mobile-nav-ul {
    padding: 10px 30px;
    border-bottom: 1px solid #dfdfdf;
  }

  .mobile-nav-lists {
    padding: 20px 0;
  }

  .mobile-nav-lists > div {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .mobile-nav-lists button:first-child {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
  }

  .mobile-nav-lists .downarrow {
    width: 18px;
  }

  .mobile-nav-lists .submenu {
    display: none;
    color: #aaaaaa;
    font-size: 15px;
  }

  .mobile-nav-lists .submenu-clicked {
    display: block;
  }

  .mobile-nav-lists .submenu li {
    padding: 10px 0;
  }

  .image-intro {
    height: 600px;
  }

  .image-intro a {
    font-size: 40px;
    border-radius: 100px 100px 0 0;
  }

  .program h2 {
    font-size: 35px;
  }

  .video h2 {
    font-size: 28px;
  }

  .program h2::after {
    width: 65%;
  }
}

@media screen and (max-width: 768px) {
  .side-nav {
    bottom: 0;

    width: 100%;
  }

  .side-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 0;
  }

  .side-nav-list + .side-nav-list {
    border-top: 0;
  }

  .image-intro {
    height: 500px;
  }

  .image-intro a {
    font-size: 30px;
    border-radius: 80px 80px 0 0;
  }

  .program-container .item .text,
  .program-container .item:first-child .text {
    font-size: 20px;
  }

  .video h2::after {
    width: 59%;
  }

  .video-container {
    flex-wrap: wrap;
  }
  .video-container .item {
    width: 50%;
  }

  footer {
    padding-bottom: 160px;
  }

  footer .logo {
    display: none;
  }

  footer .mjffinfo-policy li a,
  footer .mjffinfo-contact,
  footer .mjffinfo-link a {
    font-size: 13px;
  }

  footer .mjffinfo-link a {
    padding: 8px 12px;
  }
}

@media screen and (max-width: 680px) {
  .side-nav ul {
    gap: 15px;
  }

  .image-intro {
    height: 400px;
  }

  .image-intro a {
    font-size: 25px;
    border-radius: 60px 60px 0 0;
  }

  .program h2::after {
    width: 55%;
  }

  footer .mjffinfo {
    padding-left: 0;
  }
}

@media screen and (max-width: 576px) {
  .image-intro {
    height: 300px;
  }

  .image-intro a {
    font-size: 23px;
    border-radius: 50px 50px 0 0;
  }

  .program h2::after {
    width: 50%;
  }

  .program-container .item:nth-child(3),
  .program-container .item:nth-child(4),
  .program-container .item:nth-child(5) {
    width: 30.7%;
  }

  .video h2::after {
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  .container-padding {
    padding: 60px 0;
  }
  .side-nav ul {
    gap: 0px;
  }

  .side-nav-list {
    padding: 5px;
  }

  .image-intro {
    height: 300px;
  }

  .image-intro a {
    font-size: 20px;
    border-radius: 0;
    word-break: keep-all;
  }

  .program h2 {
    font-size: 28px;
  }

  .program h3 {
    font-size: 13px;
  }

  .program-container .item:first-child,
  .program-container .item:nth-child(2),
  .program-container .item:nth-child(3),
  .program-container .item:nth-child(4),
  .program-container .item:nth-child(5) {
    width: 100%;
    height: 200px;
  }

  .program h2::after,
  .video h2::after {
    width: 0;
  }

  .video-container .item {
    width: 100%;
  }
}
