/* font */
body {
  font-family: "NanumSquareRound", "돋움", Dotum, "굴림", Gulim, AppleGothic, sans-serif;
  color: #333;
}

button,
input,
textarea {
  font-family: "NanumSquareRound", "돋움", Dotum, "굴림", Gulim, AppleGothic, sans-serif;
  font-size: 16px;
}

/* global css */
.container-01 {
  padding: 100px 0;
}

.container-02 {
  width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

/*------------------------- Header -------------------------*/

.top {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: 0 auto;
  border-top: 6px solid rgb(128, 122, 206);
}

.top-logo {
  width: fit-content;
  margin: 20px 0 0;
}

.top-logo a {
  display: block;
  width: 300px;
  height: 72px;
}

.top-nav {
  padding: 10px 0;
}

.top-nav ul {
  display: flex;
  justify-content: center;
}

.top-nav-lists {
  position: relative;
  padding: 0 17px 0 10px;
}

.top-nav-lists .title {
  height: 60px;
  padding: 0;
  border: none;
  background-color: #fff;

  font-size: 20px;
  font-weight: 600;
  line-height: 3;
  text-align: center;
}

.top-nav-lists .title-last {
  display: block;
  height: 60px;
  padding: 0;
  border: none;
  background-color: #fff;

  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.top-nav-lists .title::after {
  content: "";

  position: absolute;
  right: 0;

  width: 8px;
  height: 8px;
  margin: 26px 0;
  border-radius: 50%;
  background-color: #edd56e;
}

.top-nav-lists .submenu {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;

  display: none;
  width: fit-content;

  line-height: 1.15;

  z-index: 1;
}

.top-nav-lists .submenu ul {
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 150px;
  padding: 16px;
  border: solid 2px #807ace;
  border-radius: 30px 0 30px 30px;
  background: #fff;
}

.top-nav-lists .submenu-item {
  display: flex;
  align-items: center;
}

.top-nav-lists .submenu-item a {
  padding: 8px 10px;
  color: #111;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
}

.top-nav-lists .submenu-item a:hover {
  color: #0877a1;
}

.top-nav-lists:hover .submenu {
  display: block;
}

/*------------------------- Nav -------------------------*/
.side-nav {
  position: fixed;
  right: 0;
  bottom: 150px;
  z-index: 9999;
}

.side-nav ul {
  width: 150px;
  padding: 10px 10px;
  border-radius: 25px 0 0 25px;
  background-color: #807ace;
}

.side-nav-list {
  padding: 12px 10px;
  border-bottom: 0.5px solid #fff;
  text-align: center;
}

.side-nav-list:last-child {
  border-bottom: none;
}

.side-nav-list a {
  display: block;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
}

.side-nav-list a img {
  display: block;
  margin: 0 auto 6px;
  width: 30px;
  height: 30px;
}

/*------------------------- Main -------------------------*/

/* Mjff-intro */
.mjff-intro {
  position: relative;
}

.mjff-intro a {
  display: block;
}

.mjff-intro p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  padding: 30px 0;

  color: #fff;
  font-size: 62px;
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
}

.mjff-intro img {
  display: block;
  width: 100%;
  max-width: 1760px;
  height: 700px;
  margin: 0 auto;
  border-radius: 140px 140px 0 0;
}

/* Mjff-section */

.mjff-section h2 {
  position: relative;

  color: #5f58bf;
  font-size: 50px;
  line-height: 1.2;
  font-weight: 900;
}

.mjff-section h2::after {
  content: "";

  position: absolute;
  bottom: 28px;
  right: 0;

  width: 72%;
  height: 8px;
  background-color: #807ace;
}

.mjff-section h3 {
  margin: 10px 0 0;

  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: -1px;
}

.mjff-section-container {
  padding: 50px 0 0;
  margin: 0 -15px;
}

.mjff-section-container .item {
  position: relative;

  display: inline-block;
  margin: 10px;
  border-radius: 20px;
  background-color: #000;

  font-size: 0;
  letter-spacing: 0;
  word-spacing: 0;

  overflow: hidden;
}

.mjff-section-container .item img {
  opacity: 65%;
  border-radius: 20px;
  transition: all 450ms ease-in-out;
}

.mjff-section-container .item img:hover {
  transform: scale(1.05);
}

.mjff-section-container .item .text {
  position: absolute;
  bottom: 32px;
  left: 34px;

  color: #fff;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -1px;
}

.mjff-section-container .item:first-child .text {
  font-size: 34px;
}

.mjff-section-container .item .text strong {
  display: block;
  margin-bottom: 10px;
  color: #fff8c8;
  font-size: 18px;
}

.mjff-section-container .item .text strong::before {
  content: "";

  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px 8px 0 0;
  border-radius: 50%;
  background-color: #fff8c8;
}

/* Mjff-story */

.mjff-story h2 {
  position: relative;
  color: #5f58bf;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -1px;
}

.mjff-story h2::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  width: 76%;
  height: 7px;
  background: #807ace;
}

.mjff-story-container {
  display: flex;
  padding: 46px 0 0;
}

.mjff-story-container .item {
  width: 25%;
  padding: 15px;

  line-height: 1.6;
}

.mjff-story-container .item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mjff-story-container .item img {
  order: 1;
  width: 100%;
  border-radius: 20px;
  transition: all 450ms ease-in-out;
}

.mjff-story-container .item img:hover {
  transform: scale(1.05);
}

.mjff-story-container .item span {
  order: 2;

  margin-top: 30px;

  font-size: 16px;
  font-weight: 700;
  color: #5f58bf;
}

.mjff-story-container .item p {
  order: 3;

  width: 100%;
  margin: 10px auto 0 auto;

  color: #444;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -1px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*------------------------- Article ------------------------*/
.post {
  padding: 10px 0 20px;
  background: #eeeeee;
  border-bottom: 1px solid #e0e0e0;
}

/* Search */
.post-search {
  margin: 10px 0 40px;
  padding: 0 10px;
  text-align: center;
}

.post-search-box {
  position: relative;
  display: inline-block;
  margin: 0 12px;

  font-size: 0;
  line-height: 0;
}

.post-search-box::after {
  content: url("./assets/post_icon.svg");
  position: absolute;
  top: 10px;
  right: 10px;
  width: 18px;
}

.post-search input {
  width: 200px;
  height: 40px;
  padding: 0 35px 0 15px;

  border: 2px solid #cdcdcd;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);

  color: #333;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;

  cursor: text;
}

.post-search input:focus {
  border-color: #000;
}

.post-search input::placeholder {
  color: #cdcdcd;
}

/* Loadmore */
.post-loadmore {
  text-align: center;
}

.post-loadmore button {
  margin: 20px 12px 0;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  background-color: rgb(59, 61, 64);
  cursor: pointer;

  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

.post-loadmore button:hover {
  opacity: 20%;
}

/*------------------------- Footer -------------------------*/

footer {
  padding: 36px 0;
}

footer .container-02 {
  display: flex;
  position: relative;
}

.ft-logo {
  padding: 0 15px;
}

.ft-mjffinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 15px;
}

/* Policy */

.ft-mjffinfo-policy {
  display: flex;
}

.ft-mjffinfo-policy li {
  display: block;
  cursor: auto;
  padding: 10px 20px;
}

.ft-mjffinfo-policy li:first-child {
  position: relative;
  padding: 10px 20px 10px 0;
}

.ft-mjffinfo-policy li a {
  color: #777;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;

  cursor: pointer;
}

.ft-mjffinfo-policy li:first-child a {
  color: #5f58bf;
}

.ft-mjffinfo-policy li:first-child a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translatey(-50%);

  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #aaa;
  cursor: none;
}

/* SNS */

.ft-mjffinfo-sns {
  display: flex;
  align-items: center;
}

.ft-mjffinfo-sns li a img {
  width: 62px;
  height: 43px;
  padding: 10px 20px;
}

.ft-mjffinfo-sns li:first-child a img {
  width: 43px;
  padding-left: 0;
}

.ft-mjffinfo-sns li a img:hover {
  opacity: 70%;
}

/* Contact */
.ft-mjffinfo-contact {
  padding: 10px 0 0;

  color: #666;
  font-size: 15px;
  line-height: 2;
}

.ft-mjffinfo-contact b {
  font-weight: 700;
}

.ft-mjffinfo-contact li:last-child span {
  padding-right: 15px;
}

/* Copyright */
.ft-mjffinfo-copyright {
  padding: 30px 0 0;

  color: #aaa;
  font-size: 13px;
}

.ft-mjffinfo-copyright span {
  font-family: "Lato", sans-serif;
}

.ft-mjffinfo-copyright a:hover {
  opacity: 50%;
}

/* link */
.ft-mjffinfo-link a {
  position: absolute;
  top: 0;
  right: 0;

  padding: 12px 24px;
  border-radius: 50px;
  background-color: #807ace;

  color: #fff;
  font-size: 16px;
  line-height: 1.4;
}
